<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
<head>
    
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:scr="@{/js/rutinas.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <link href="css/login.css" rel="stylesheet" type="text/css"/>
    <title>Hermes</title>
</head>
<body>
    
    <!-- <div class="container-form login ">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Para registrarse a nuestro sistema por favor ir a la seccion de registro y ingresar los datos correspondientes</p>
                <input type="button" value="Registro" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar sesion</h2>
               
                <form class="form">
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Correo Electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Contraseña">
                    </label>
                    <input type="submit" value="Iniciar Sesion">
                </form>
            </div>
        </div>
    </div>


    <div class="container-form register hide">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Para ingresar a nuestro sistema por favor Inicia Sesion con los datos correspondientes</p>
                <input type="button" value="Iniciar Sesion" id="sign-in">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una Cuenta</h2>
                <div class="icons">
                    <i class='bx bxl-google'></i>
                    <i class='bx bxl-github'></i>
                    <i class='bx bxl-linkedin'></i>
                </div>
                <p>o usa tu email para registrarte</p>
                <form class="form">
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre Completo">
                    </label>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Correo Electronico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Contraseña">
                    </label>
                    <input type="submit" value="Registrarte">
                </form>
            </div>
        </div>
    </div> -->
        
    </div>
    
    <div class="wrapper">
        <header>HERMES</header>

        <form action="#">

        <div class="btn-group dropend lang">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="img/translate.png" alt="translate" width="20px">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/(lang=es)}">[[#{lang.es}]]</a></li>
              <li><a class="dropdown-item" th:href="@{/(lang=en)}">[[#{lang.en}]]</a></li>
            </ul>
        </div>

        <div class="field email">
          <div class="input-area">
            <input type="text" th:placeholder="#{login.user}">
            <img src="img/arroba.png" alt="email" class="icon">
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>

        </div>

        <div class="field password" style="margin-bottom: -15px">
          <div class="input-area">
            <input type="password" th:placeholder="#{login.psswd}">
            <img src="img/secured-lock.png" alt="password" class="icon">
            <i class="error error-icon fas fa-exclamation-circle"></i>
          </div>
          
        </div>
        
        <input type="submit" class="btn btn-success" th:value="#{login.btn}" style="margin-bottom: -25px">

      </form>
        <div class="sign-txt">
            [[#{login.newuser}]]
            <br> 
            <a href="#">
                [[#{login.btn_newuser}]]
            </a>
        </div>
    </div>

    <!-- <script src="script.js"></script> -->
  
</body>
</html>
