/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 mar 2024, 18:49:52
    Author     : sebas
*/
header .container {
    height: 80px;
}

.col-md-12 h1{
    margin-top: -10px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-size: 64px;
    font-family: Times New Roman;
}

.col-md-12 img{
    margin-top: -15px;
}

button:hover {
    color:green;
}

.lead {
    font-size: 12px;
    font-family: Times New Roman;
    padding-top: 10px;
}

.lorem {
    text-align: justify;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
}

.offcanvas-body {
        text-align: center; /* Centrar el contenido dentro de la offcanvas-body */
    }

    .offcanvas-body img {
        display: block; /* Para asegurar que la imagen sea tratada como bloque */
        margin: 0 auto; /* Auto-margin para centrar la imagen horizontalmente */
    }