<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{layout/plantilla :: head}">
    <title th:text="#{header.title}">HERMES</title>
    <meta charset="UTF-8">
</head>

<body>

<!-- Titulo de la página -->
    <section th:fragment="titulo">
        <div class="tituloh2">
            <h2><b>[[#{info.title}]]</b></h2>
        </div>
        <div class="tituloh3">
            <h3><b> [[#{info.about_us}]]</b></h3>
        </div>
        <div class="texto">
            <p>
                <span>[[#{info.about_us_text}]]</span>
                <br></br>
                <span>[[#{info.about_us_text_2}]]</span>
                <br></br>
                <span>[[#{info.about_us_text_3}]]</span>
            </p>
        </div>
        <div class="tituloh3">
            <h3><b> [[#{info.why_title}]]</b></h3>
        </div>
        <div class="texto">
            <p>
                <span>[[#{info.why_text_1}]]</span>
                <br></br>
                <span>[[#{info.why_text_2}]]</span>
            </p>
        </div>
        <div class="tituloh3">
            <h3><b>[[#{info.clear_explanation}]]</b></h3>
        </div>

        <iframe id="ralph" class="ralph"
            src="https://www.youtube.com/embed/cmlITg5xIb0?si=tZ1SnbgZU9CHOPVd"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>


        <div class="tituloh3">
            <h3><b> [[#{info.companies_title}]]</b></h3>
        </div>
        
        <img class="companhias" src="img/companhias.png" alt="compañias"/>  
        
    </section>

</body>
    
</html>